# MkDocs and Python
site/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.pyc
*.pyo
*.pyd
.DS_Store
.env
.venv
venv/
ENV/
build/
dist/
.eggs/
*.egg-info/
.cache/
*.bak
*.swp
.idea/
.vscode/
*.iml
*.orig
*.lock
node_modules/
